<?  layout("../layout/default.html") { ?>
<div class="admin-panel">
	<div class="tab">
		<div class="tab-head">
			<strong><? if(@data.isNew()){ ?>添加<? }else{ ?>编辑<?} ?></strong>
			<span class="tab-more"><a href="javascript:history.go(-1)" class="button  button-little bg-blue  icon-step-backward"> 返回</a></span>
			<ul class="tab-nav">
			  <li class="active"><a href="#tab-set">信息</a></li>
			</ul>
		</div>
		<div class="tab-body">
			<div class="tab-panel active" id="tab-set">
				<form method="post" class="form-x" action="">
					<div class="form-group">
						<div class="label"><label for="sitename">名称</label></div>
						<div class="field">
						<input type="text" class="input" id="equipment_name" name="equipment.name" size="200" placeholder="请填写名称" data-validate="required:请填写名称" value="${data.name!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">所在房间号</label></div>
						<div class="field">
						<input type="text" class="input" id="equipment_room_id" name="equipment.room_id" size="200" placeholder="请填写所在房间号" data-validate="required:请填写所在房间号,number:请填写数字" value="${data.room_id!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">房内设备序号</label></div>
						<div class="field">
						<input type="text" class="input" id="equipment_num_in_romm" name="equipment.num_in_room" size="200" placeholder="请填写房内设备序号" data-validate="required:请填写房内设备序号" value="${data.num_in_room!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">所在面板序号</label></div>
						<div class="field">
						<input type="text" class="input" id="equipment_panel_id" name="equipment.panel_id" size="200" placeholder="请填写所在面板序号" data-validate="required:请填所在面板序号,number:请填写数字" value="${data.panel_id!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">设备状态</label></div>
						<div class="field">
						<input type="text" class="input" id="equipment_status" name="equipment.status" size="200" placeholder="请填写设备状态(工作/保修/待机)" data-validate="required:请填写状态" value="${data.status!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">设备参数1</label></div>
						<div class="field">
						<input type="text" class="input" id="equipment_param1" name="equipment.param1" size="200" placeholder="请填写设备参数" data-validate="required:请填写设备参数" value="${data.param1!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">设备参数2</label></div>
						<div class="field">
						<input type="text" class="input" id="equipment_param2" name="equipment.param2" size="200" placeholder="请填写设备参数" data-validate="required:请填写设备参数" value="${data.param2!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">设备参数3</label></div>
						<div class="field">
						<input type="text" class="input" id="equipment_param3" name="equipment.param3" size="200" placeholder="请填写设备参数" data-validate="required:请填写设备参数" value="${data.param3!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">设备参数4</label></div>
						<div class="field">
						<input type="text" class="input" id="equipment_param4" name="equipment.param4" size="200" placeholder="请填写设备参数" data-validate="required:请填写设备参数" value="${data.param4!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">设备参数5</label></div>
						<div class="field">
						<input type="text" class="input" id="equipment_param5" name="equipment.param5" size="200" placeholder="请填写设备参数" data-validate="required:请填写设备参数" value="${data.param5!""}"/>
						</div>
					</div>
				<div class="form-button"><button class="button bg-main" type="submit">提交</button></div>
			    </form>
			</div>
		</div>
	</div>
</div>
<?  } ?>			