<?  layout("../layout/default.html") { ?>
<div class="admin-panel">
	<div class="tab">
		<div class="tab-head">
			<strong><? if(@data.isNew()){ ?>添加<? }else{ ?>编辑<?} ?></strong>
			<span class="tab-more"><a href="javascript:history.go(-1)" class="button  button-little bg-blue  icon-step-backward"> 返回</a></span>
			<ul class="tab-nav">
			  <li class="active"><a href="#tab-set">信息</a></li>
			</ul>
		</div>
		<div class="tab-body">
			<div class="tab-panel active" id="tab-set">
				<form method="post" class="form-x" action="">
					<div class="form-group">
						<div class="label"><label for="sitename">名称</label></div>
						<div class="field">
						<input type="text" class="input" id="panel_name" name="panel.name" size="200" placeholder="请填写名称" data-validate="required:请填写名称" value="${data.name!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">类型</label></div>
						<div class="field">
						<input type="text" class="input" id="panel_type" name="panel.type" size="200" placeholder="请填写类型" data-validate="required:请填写类型" value="${data.type!""}"/>
						</div>
					</div>
				<div class="form-button"><button class="button bg-main" type="submit">提交</button></div>
			    </form>
			</div>
		</div>
	</div>
</div>
<?  } ?>			