<?  layout("../layout/default.html") { ?>
<div class="admin-panel">
    <div class="panel">
        <form method="post" action="Scene/deleteAll">
            <div class="panel-head">
                <h3 class="float-left"><b>场景列表</b> <a href="${root}/Scene/create" class="button  button-little bg-blue  icon-plus"> 添加</a></h3>
                <div class="toolbar">
                    
                    <button class="button  button-little bg-red icon-trash-o" onclick="{if(confirm('删除后数据不可恢复，确定执行?')){return true;}return false;}"> 批量删除</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <table class="table table-hover table-condensed">            
                <tr>
                	<th>ID</th>
                    <th width="45"><input type="checkbox" class="checkall" name="checkall" checkfor="id" /></th>
                    <th>名称</th>
                    <th>图标id</th>
                    <th>操作</th>
                </tr>
                <? for(data in @page.getList()){?>
                <tr>
                		<td>${data.id}</td>
                        <td><input type="checkbox" name="id" value="${data.id}" /></td>
                        <td>${data.name}</td>
                        <td>${data.image_id}</td>
                        <td>
                            <a class="button border-blue button-little icon-edit" href="Scene/update/${data.id}"></a> 
                            <a class="button border-red  button-little icon-trash-o" href="Scene/delete/${data.id}" onclick="{if(confirm('确认删除?')){return true;}return false;}"></a>
                        </td>
                    </tr>
                <?  } ?>            
            </table>
        </form>		
        <div class="panel-foot text-center">
        <?  includeFileTemplate("/common/paginate.html",{uri : '', page : page}){}?>            
        </div>
    </div>
</div>
<?  } ?>