<?  layout("../layout/default.html") { ?>
<div class="admin-panel">
    <div class="panel">
        <form method="post" action="Phymapping/deleteAll">
            <div class="panel-head">
                <h3 class="float-left"><b>PhyMapping列表</b> <a href="${root}/Phymapping/create" class="button  button-little bg-blue  icon-plus"> 添加</a></h3>
                <div class="toolbar">
                    
                    <button class="button  button-little bg-red icon-trash-o" onclick="{if(confirm('删除后数据不可恢复，确定执行?')){return true;}return false;}"> 批量删除</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <table class="table table-hover table-condensed">            
                <tr>
                	<th>ID</th>
                    <th width="45"><input type="checkbox" class="checkall" name="checkall" checkfor="id" /></th>
                    <th>所属设备id</th>
                    <th>物理地址</th>
                    <th>mac地址</th>
                    <th>类型</th>
                    <th>线路</th>
                    <th>实线/虚线</th>
                    <th>描述</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                <? for(data in @page.getList()){?>
                <tr>
                		<td>${data.id}</td>
                        <td><input type="checkbox" name="id" value="${data.id}" /></td>
                        <td>${data.loc_id}</td>
                        <td>${data.phy_addr}</td>
                        <td>${data.mac_addr}</td>
                        <td>${data.type}</td>
                        <td>${data.route}</td>
                        <td>${data.tag}</td>
                        <td>${data.describe}</td>
                        <td>${data.status}</td>
                        <td>
                            <a class="button border-blue button-little icon-edit" href="Phymapping/update/${data.id}"></a> 
                            <a class="button border-red  button-little icon-trash-o" href="Phymapping/delete/${data.id}" onclick="{if(confirm('确认删除?')){return true;}return false;}"></a>
                        </td>
                    </tr>
                <?  } ?>            
            </table>
        </form>		
        <div class="panel-foot text-center">
        <?  includeFileTemplate("/common/paginate.html",{uri : '', page : page}){}?>            
        </div>
    </div>
</div>
<?  } ?>