<?  layout("../layout/default.html") { ?>
<div class="admin-panel">
	<div class="tab">
		<div class="tab-head">
			<strong><? if(@data.isNew()){ ?>添加<? }else{ ?>编辑<?} ?></strong>
			<span class="tab-more"><a href="javascript:history.go(-1)" class="button  button-little bg-blue  icon-step-backward"> 返回</a></span>
			<ul class="tab-nav">
			  <li class="active"><a href="#tab-set">信息</a></li>
			</ul>
		</div>
		<div class="tab-body">
			<div class="tab-panel active" id="tab-set">
				<form method="post" class="form-x" action="">
					<div class="form-group">
						<div class="label"><label for="sitename">场景编号</label></div>
						<div class="field">
						<input type="text" class="input" id="sceneconfig_scene_id" name="sceneconfig.scene_id" size="200" placeholder="请填写场景id" data-validate="required:请填写场景编号,number:请填写数字" value="${data.scene_id!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">设备编号</label></div>
						<div class="field">
						<input type="text" class="input" id="sceneconfig_equipment_id" name="sceneconfig.equipment_id" size="200" placeholder="请填写设备编号" data-validate="required:请填写设备编号,number:请填写数字" value="${data.equipment_id!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">状态</label></div>
						<div class="field">
						<input type="text" class="input" id="sceneconfig_status" name="sceneconfig.status" size="200" placeholder="请填写状态" data-validate="required:请填写状态" value="${data.status!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">设备参数1</label></div>
						<div class="field">
						<input type="text" class="input" id="sceneconfig_param1" name="sceneconfig.param1" size="200" placeholder="请填写设备参数" data-validate="required:请填写设备参数" value="${data.param1!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">设备参数2</label></div>
						<div class="field">
						<input type="text" class="input" id="sceneconfig_param2" name="sceneconfig.param2" size="200" placeholder="请填写设备参数" data-validate="required:请填写设备参数" value="${data.param2!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">设备参数3</label></div>
						<div class="field">
						<input type="text" class="input" id="sceneconfig_param3" name="sceneconfig.param3" size="200" placeholder="请填写设备参数" data-validate="required:请填写设备参数" value="${data.param3!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">设备参数4</label></div>
						<div class="field">
						<input type="text" class="input" id="sceneconfig_param4" name="sceneconfig.param4" size="200" placeholder="请填写设备参数" data-validate="required:请填写设备参数" value="${data.param4!""}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="label"><label for="sitename">设备参数5</label></div>
						<div class="field">
						<input type="text" class="input" id="sceneconfig_param5" name="sceneconfig.param5" size="200" placeholder="请填写设备参数" data-validate="required:请填写设备参数" value="${data.param5!""}"/>
						</div>
					</div>
				<div class="form-button"><button class="button bg-main" type="submit">提交</button></div>
			    </form>
			</div>
		</div>
	</div>
</div>
<?  } ?>			