<? layout("../layout/default.html") { ?>
<div class="admin-panel">
	<div class="tab">
		<div class="tab-head">
			<strong>系统设置</strong>
			<ul class="tab-nav">
			  <li class="active"><a href="#tab-set">全局设置</a></li>
<!-- 			  <li><a href="#tab-email">邮件设置</a></li>
			  <li><a href="#tab-upload">上传设置</a></li>
			  <li><a href="#tab-visit">访问限制</a></li> -->
			</ul>
		</div>
		<div class="tab-body">
			<div class="tab-panel active" id="tab-set">
				<form method="post" class="form-x" action="">
			        <div class="form-group">
			            <div class="label"><label for="sitename">网站名称</label></div>
			            <div class="field">
			            	<input type="text" class="input" id="sitename" name="app_name" size="50" placeholder="网站名称" data-validate="required:请填写你网站的名称" value="${app_name!}"/>
			            </div>
			        </div>
					<div class="form-group">
			        	<div class="label"><label>网站运行状态</label></div>
			        	<div class="field">
			                <div class="button-group button-group-small radio">
			                    <label class="button" id="app_status_open">
			                    	<input name="app_status" value="open"  type="radio"><span class="icon icon-check"></span> 开启
			                    </label>
			                    <label class="button" id="app_status_close">
			                    	<input name="app_status" value="close" type="radio"><span class="icon icon-times"></span> 关闭
			                    </label>
			                </div>
							<script>
								$("#app_status_${app_status!}").addClass('active').children('input').attr('checked',true);
							</script>
			            </div>
			        </div>
			        <div class="form-group">
			        	<div class="label"><label>调试模式</label></div>
			        	<div class="field">
			                <div class="button-group button-group-small radio">
			                    <label class="button" id="app_devModel_true">
			                    	<input name="app_devModel" value="true"  type="radio"><span class="icon icon-check"></span> 开启
			                    </label>
			                    <label class="button" id="app_devModel_false">
			                    	<input name="app_devModel" value="false" type="radio"><span class="icon icon-times"></span> 关闭
			                    </label>
			                </div>
							<script>
								$("#app_devModel_${app_devModel!}").addClass('active').children('input').attr('checked',true);
							</script>
							<div class="input-note">需要重启才能生效</div>
			            </div>
			        </div>
			        <div class="form-group">
			            <div class="label"><label for="readme">维护说明</label></div>
			            <div class="field">
			            	<textarea class="input" rows="5" cols="50" name="app_remark" placeholder="请填写维护说明">${app_remark!}</textarea>
			            </div>
			        </div>
			        
			       
			        
			        <div class="form-button"><button class="button bg-main" type="submit">提交</button></div>
			    </form>
			</div>
<!-- 			<div class="tab-panel" id="tab-email">邮件设置</div>
			<div class="tab-panel" id="tab-upload">上传设置</div>
			<div class="tab-panel" id="tab-visit">访问限制</div> -->
		</div>
	</div>
</div>
<? } ?>